body {
  font-family: Arial, sans-serif;
  background: #0077b6;
}

section {
  background: white;
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #0077b6;
}

a {
  color: #d62828;
}

form {
  margin-top: 20px;
}

input,
button {
  margin-top: 10px;
  padding: 5px 10px;
}
