body{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
}

div{
    margin: 3px;
}

#header{
    background-color: rgb(29, 135, 229);
    width: 100%;
    height: 40px;
}

#hero{
    background-color: red;
    width: 70%;
    height: 70px;
}

#box{
    display: flex;
    width: 70%;
    height: 250px;
}

#content{
    background-color: green;
    /* height: 160px; */
    width: 80%;

}

#sidebar{
    background-color: rgb(83, 0, 128);
    width: 20%;

}

#footer{
    background-color: gray;
    width: 100%;
    height: 40px;
}