*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.avo{
    background-color: lightgray;
    padding: 30px;
}

.grid-container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
}

.item{
    display: flex;
    border-radius: 10px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.item:nth-child(1){
    background-color: lightcoral;
}

.item:nth-child(2){
    background-color: lightseagreen;
}

.item:nth-child(3){
    background-color: lightskyblue;
}

.item:nth-child(4){
    background-color: lightsalmon;
}