*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pesquisa{
    border: 4px solid red;
}

button{
    
}

body{ 
    /* display: flex; 
    justify-content: center; 
    align-items: center; */
} 

.flex-container{
    display:flex;
}

header{
    background-color: green;
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 425px){
    .flex-container{
        flex-direction: column;
    }
}