*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-color: rgb(23, 205, 129);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    /* height: 30px; */
    display:flex;
    justify-content: center;
    /* width: 300px; */
    /* background-color: red; */
}

.caixa{
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
}

button{
    background-color: rgb(14, 122, 77);
    width: 80px;
}

input{
    margin-right: 6px;
    width: 200px;
}

@media screen and (max-width: 425px){
    .flex-container{
        flex-direction: column;
        /* background-color: yellow;
        border: 10px solid red; */
    }

    button{
        width: 200px;
        margin-top: 5px;
    }
}
