*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 228, 228);
    padding: 20px;
}

.fundo{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
}

.card{
    /* https://cssgradient.io/ */
    background: #1fbfff;
    background: linear-gradient(135deg, rgba(31, 191, 255, 1) 0%, rgba(173, 83, 237, 1) 100%);
    border-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}