#box1{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

#box2{
    background-color: blue;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    width: 60vw;
    height: 15vw;
    /* border: 50px solid rgb(0, 255, 255); */
}

.ret{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    height: 50px;
    width: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
}