body{
    background-color: rgb(238, 227, 182);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div{
    background-color: yellow;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin: 3px;
}

